$background-color: white;
$text-color: black;
$on-hover-color: gray;
$font-family: 'Raleway',
sans-serif;
$link-font-size: 3rem;
body {
    background-color: $background-color;
    margin: 8rem 10% 0 10%;
}

//TODO
// Move Nav Links to right side of page
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $font-family;
    .nav-links {
        ul {
            display: flex;
            flex-direction: row;
            li {
                display: flex;
                list-style: none;
                a {
                    margin: 0 2rem 0 2rem;
                    justify-content: space-between;
                    text-decoration: none;
                    color: $text-color;
                    font-size: $link-font-size;
                }
                a:hover {
                    color: $on-hover-color;
                }
            }
        }
    }
}

.about_me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
        margin-top: 6em;
        font-family: $font-family;
        font-size: 2rem;
    }
    .about-me-photo {
        margin-top: 10em;
    }
}

.work {
    .headline {
        font-size: $link-font-size;
        font-family: $font-family;
    }
    .project {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .project-1,
    .project-2,
    .project-3,
    .project-4 {
        display: flex;
        font-family: $font-family;
        .project-name {
            font-size: 1.7em;
            font-weight: bold;
            text-decoration: underline;
        }
        .project-skills {
            font-size: .9em;
        }
    }
}

.contact {
    .headline {
        font-size: $link-font-size;
        font-family: $font-family;
    }
    form {
        display: flex;
        flex-direction: column;
        margin: 0 3em 0 0;
        font-family: $font-family;
        font-size: 1.5em;
        .text-box {
            width: 30em;
            height: 3em;
        }
        .text-box-para {
            width: 60em;
            height: 20em;
        }
        .submit-button {
            width: 10em;
            height: 3em;
        }
    }
}

.footer-whole {
    margin-top: 10em;
}